.btn-sec{
    position: relative;
    .btn{
        width: 108px;
        height: 42px;
        border-radius: 7px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin-right: 14px;
        margin-top: 15px;
        position: relative;
    
    
        justify-content: space-around;
    }
    
    .btn::after{
        content: '';
        height: 42px;
        width: 1px;
        position: absolute;
        right: 25px;
        background-color: #262626;
    }
}



.btn-message{
    position: absolute;
    top: 60px;
    left: 20px;
}